body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-picture-wrapper {
  display: flex;
  align-items: center;
}

.profile-picture-wrapper label {
  margin-right: 50px; 
}

.signup-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  align-items: center;
  height: auto;
  max-width: 500px; 
  width: 90%; 
  margin: auto;
  display: flex; 
  flex-direction: column;
  overflow: hidden; 
}

.signup-container h2 {
  color: #333;
}

.signup-container form {
  width: 400px;
  max-height: 100vh;
  margin: auto 0; 
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.signup-container label {
  display: flex;
  margin-right: 5px ;
  color: #555;
  align-items: center; 
}


.signup-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  color:#fff;
}

.signup-container button {
  background-color: #3e5beb;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
}

.navigation button {
  color: #4caf50;
  text-decoration: none;
}

.signup-container p {
  margin-top: 15px;
  color: #555;
}

.signup-container a {
  color: #4caf50;
  text-decoration: none;
}

.error-message {
  color: #ff0000;
  margin: 10px 0;
  font-size: 14px;
}

.login-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-container h2 {
  color: #333;
}

.login-container form {
  max-width: 300px;
  margin: 0 auto;
}

.login-container label {
  display: block;
  margin: 10px 0 5px;
  color: #555;
}

.login-container input {
  color:white;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-container button {
  background-color: #4caf50;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-container p {
  margin-top: 15px;
  color: #555;
}

.login-container a {
  color: #4caf50;
  text-decoration: none;
}

.error-message {
  color: #ff0000;
  margin: 10px 0;
  font-size: 14px;
}

.profile-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  display:grid;
}

.profile-container h2 {
  color: #333;
  text-align: left;
  border-bottom-style: solid;
}

.profile-container h3 {
  margin-top: -20px;
  color: #333;
  text-align: left;
}

.profile-container h4 {
  color: #6b6767;
  text-align: left;
}

.profile-container img {
  max-width: 20%;
  padding: 3px;
  border-color: #333;
  border-style: solid;
  border-radius: 8px;
}

.profile-container .profile-info {
  display: flex;
  flex-direction: row;
}

.profile-container .information {
  margin-left: 50px;
  align-self: flex-start;
}

.profile-container .registration-keys {
  display: flex;
  align-items: center;
}

.profile-container .registration-keys h3{
  margin-top:0px;
}

.profile-container .registration-keys .info{
  margin-left: 5px;
}
.profile-container button{
  background-color: #4caf50;
}


@media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 111%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }
} 
